body {
  background: #20262E;
  padding: 20px;
  font-family: Helvetica;
}

#app {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s;
}

p {
  font-size: small;
  font-style: italic;
}

p code {
  font-size: medium;
}

.button-group {
  display: flex;
  margin: 1em 0;
}

.button-group > button {
  flex-grow: 1;
  flex-basis: 50%;
  margin: 0 0.5em;
}

table {
  width: 100%;
}

tr {
  border-bottom: 1px solid #e1e1e1;
}

tr:last-child {
  border-bottom: none;
}

td {
  width: 50%;
  padding: 0.2em 1em;
}

pre {
  background: #005fa533;
  border: 1px solid #005fa533;
  padding: 0.1em 0.2em;
  margin: 0.1em 0.2em;
}
